.brand {
  display: inline-flex;
  align-items: center;
  color: var(--color-text);
}

.logo {
  width: 76px;
  height: 32px;
  flex: 0 0 76px;
  object-fit: cover;
}

.small .logo {
  width: 62px;
  height: 26px;
  flex-basis: 62px;
}

.large .logo {
  width: 100px;
  height: 42px;
  flex-basis: 100px;
}
